<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/nav.ejs') %>
            <div class="hero is-light">
                <div class="hero-body">
                    <div class="container">
                        <%- include('../includes/breadcrumbs.ejs') %>
                            <h1 class="title">
                                <%=pageTitle%>
                            </h1>
                    </div>
                </div>
            </div>
            <section class="section">
                <div class="container">
                    <% messages.forEach((message)=> { %>
                        <%- include('../includes/message.ejs', { messageClass: message.type, messageHeader:
                            message.header, messageBody: message.body }) %>
                            <% }) %>
                                <form action="/new-password" method="POST">
                                    <div class="field">
                                        <label class="label">Password</label>
                                        <div class="control">
                                            <input type="password" class="input" name="password"
                                                placeholder="New password">
                                        </div>
                                    </div>
                                    <input type="hidden" class="input" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" class="input" name="userId" value="<%= userId %>">
                                    <div class="field">
                                        <div class="control">
                                            <button type="submit" class="button is-link">
                                                Update Password
                                            </button>
                                        </div>
                                    </div>
                                </form>
                </div>
            </section>
            <%- include('../includes/end.ejs') %>